header{
    width: 850px;
    height: 400px;
    background-color:#3C5A99;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#box{
    position: absolute;
    top: 250px;
    width: 175px;
    height: 175px;
    border: 1px solid black;
    margin: 20px;
    background-color: #3C5A99;
    z-index: 1;
}


#navbox{
    background-color: rgba(255, 255, 255, 0.884);
    border: solid black 1px;
    position: relative;
    height: 45px;
    top: 312px;
    
}

h2{
    color: white;
    padding-left: 200px;
    position: relative;
    top: 330px;
}

h3{
    color: white;
    padding-left: 200px;
    position: relative;
    top: 320px;
}

.navbut{
    position: relative;
    list-style: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    left: 150px;
    border-right: 1px solid lightgrey;
    
}

.navbut:last-child{
    border-right: 0;
}

.navbut:first-child{
    border-right: 0;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

#like{
    position: relative;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    width: 65px;
    height: 25px;
    left: 575px;
    top: 225px;
}

#thumb{
    padding-top: 4px;
}


#follow{
    position: relative;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    width: 65px;
    height: 25px;
    left: 650px;
    top: 198px;
}

#plus{
    padding-top: 3px;
}

#message{
    position: relative;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    width: 97px;
    height: 25px;
    left: 717px;
    top: 171px;
}

#mail{
    padding-top:4px;
}

#misc{
    position: relative;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    left: 815px;
    top: 144px;
}

#columnleft{
    border: 1px solid black;
    width: 328px;
    height: 200px;
    position: relative;
    top: 85px;
    left: 325px;
}

#columnright{
    border: 1px solid black;
    width: 512px;
    height: 250px;
    position: relative;
    bottom: 117px;
    left: 663px;
}